$tipografia-general: 'Arial', sans-serif;
$font-size-seccion: 28px;
$font-weight-seccion: bold;
$font-size-titulo-portada: 48px;
$font-size-parrafo-portada: 24px;
$font-size-titulos-noticias: 24px;
$font-size-parrafos-noticias: 16px;
$font-size-categoria-noticas: 14px;
$font-size-fecha-noticias: 14px;
$contenedor-flexible: flex;
$margin-separadores: 20px 0;